{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <h3>Set a new password</h3>
            <form action="{{ url_for('new_password', alternative_id=alternative_id, activate_token=activate_token) }}" method="POST" class="form" role="form">
                {{ form.csrf_token() }}
                <d1>
                {{ wtf.form_field(form.password, class='form-control') }}
                {{ wtf.form_field(form.confirm, class='form-control') }}
                    <br>
                    {{ form.recaptcha }}
                </d1>
                <br>
                <p><input type=submit class='btn btn-warning btn-block'>
                <hr>
            </form>
        </div>
    </div>
</div>
{% endblock %}