{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}


{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <div class="alert bg-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="row align-items-center justify-content-center">
        <div class="col-md-8">
            <h3>Add a new note</h3>
            <form action="{{ url_for('create_note', alt_id=current_user.alternative_id) }}" method="POST" class="form"
                  role="form">
                {{ form.csrf_token() }}
                <d1>
                    {{ wtf.form_field(form.topic, class='form-control', placeholder='first of all put some topic') }}
                    {{ wtf.form_field(form.subject, class='form-control') }}
                    {{ wtf.form_field(form.url, class='form-control', placeholder='maybe URL ?') }}
                    {{ ckeditor.create() }}
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='text') }}
                    {{ wtf.form_field(form.created, class='form-control') }}
                    <br>
<!--                    {{ form.recaptcha }}-->
                </d1>
                <br>
                <p><input type=submit class='btn btn-warning btn-block'>
                <hr>
            </form>
<!--            <img src="{ url_for('static', filename='ryandance.PNG') }}" width="100" height="150">-->
            <img src="https://sfigiel-ryanote.s3.eu-central-1.amazonaws.com/ryandance.PNG" width="100" height="150">
        </div>
    </div>
</div>
<br>
<div class="container">
    {% for note in notes %}
    <div class="card">
        <div class="card-header">
            {{ note.subject }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ note.topic }}</h5>
            <p class="card-text">{{ note.text|safe }}</p>
            <!--            {% if note.url|length %}-->
            <!--            <a href="{{ note.url }}" class="btn btn-primary">Go to URL</a>-->
            <!--            {% else %}-->
            <!--            {% endif %}-->
            <!--            <a href="{{ url_for('delete', id=note.id, alt_id=current_user.alternative_id) }}" class="btn btn-danger">Delete</a>-->
            <!--            <a href="{{ url_for('edit_note', id=note.id, alt_id=current_user.alternative_id) }}" class="btn btn-info">Edit</a>-->
        </div>
        <div class="card-footer text-muted">
            Repeat: {{ note.repeat_at }}
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}