{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="form-wrapper">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <h3>Reset password</h3>
            <form action="{{ url_for('request_change_password') }}" method="POST" class="form"
                  role="form">
                {{ form.csrf_token() }}
                <d1>
                    {{ wtf.form_field(form.email, class='form-control', placeholder='ryan_89@gmail.com') }}
                    <br>
                    {{ form.recaptcha }}
                </d1>
                <br>
                <p><input type=submit class='btn btn-warning btn-block'>
                <hr>
            </form>
            <img src="https://sfigiel-ryanote.s3.eu-central-1.amazonaws.com/ryandance.PNG" width="100" height="150">
        </div>
    </div>
</div>
{% endblock %}